@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

* {
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  background-color: #222222;
  height: 100vh;
  width: 100%;
  color: white;
}

.wrapper {
  display: grid;
  grid-template-columns: [options] 180px [display] auto;
  grid-template-rows: 100vh;
}

#zoom-alert {
  display: none;
  background-color: #031341;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

#zoom-close {
  position: absolute;
  bottom: 20px;

}

#zoom-label {
  margin-top: 80px;
  text-align: center;
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  font-size: 200px;
  color: white;
}

.sidebar {
  background-color: #313131;
  overflow-x: auto;
}

.target-meeting {
  background-color: #313131;
}

.target-meeting select {
  background-color: none;
  height: 60px;
  width: 100%;
  padding: 8px 15px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
}

.target-meeting select:focus,
button:focus {
  outline: none;
}

.target-meeting option {
  padding-top: 8px;
  padding-bottom: 8px;
  text-transform: capitalize;

}

.options {
  background-color: #313131;
  overflow-x: auto;
}

.options ul {
  padding-top: 8px;
  padding-bottom: 8px;
}

.options li {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 8px 15px;
  font-weight: 300;
  font-size: 15px;
  height: 60px;
  border-bottom: dotted 1px #424242;
}

.options span {
  display: inline-block;
  color: #ffff;
}

.options small {
  color: rgb(194, 194, 194);
}

.participant {
  position: absolute;
  right: 15px;
  bottom: 12.5px;
  font-size: 11px;
}

.options li:hover {
  background-color: #6550c0;
}

.options .selected {
  background-color: #6550c0;
  height: 100px;
}

.options .disabled {
  color: rgb(66, 66, 66);
}

.options .disabled:hover {
  background-color: #313131;
  cursor: not-allowed;
}

.display {
  position: relative;
  display: grid;
  grid-template-rows: [timer] 60% [controls] 20% [notice] auto;
}

#active-part {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 20px;
  /* display: none; */
}

#alerts {
  display: none;
  position: absolute;
  background-color: #000000ce;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

.timer-name {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.timer {
  padding: 0px;
  margin: 0px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;

}

.timer-overtime {
  background-color: red;
}

.timer-warning {
  background-color: orange;
}

.digits {
  width: 175px;
    text-align: center;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
  font-size: 265px;

}

.colons {
  font-weight: 800;
  font-family: 'Montserrat', sans-serif;
  font-size: 130px;
  margin-top: 35px;
  width: 45px;
    text-align: center;
}

.controls {
  text-align: center;
}

.controls button {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  cursor: pointer;
  border: none;
  margin: 15px;
  font-weight: 600;
}

#restart:hover:enabled {
  color: #ffff;
  background-color: rgb(128, 3, 3);
}

#start.running {
  color: #ffff;
  background-color: rgb(7, 142, 231);
}

#start:hover {
  color: #ffff;
  background-color: rgb(7, 142, 231);
}

.store-controls {
  position: absolute;
  right: 15px;
  bottom: 35px;
}

.store-controls button {
  padding: 5px 15px;
  cursor: pointer;
  background-color: rgb(88, 88, 219);
  border: solid 1px rgb(88, 88, 219);
  border-radius: 2.5px;
  color: #ffff;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

#start span {
  font-size: 80px;
  font-variation-settings: "OPSZ" 48;
}

#restart span {
  font-size: 60px;
  font-variation-settings: "OPSZ" 48;
}

#zoom {
  display: none;
}
#add30s,
#sub15s {
  display: none;
}
#countdown {
  display: none;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

#progress {
  position: absolute;
  bottom: 10px;
  /* background-color: white; */
  width: 100%;
  height: 10px;
  padding: 0px 10px;
}

#progress-bar-base {
  background-color: #383838;
  width: auto;
  height: 8px;
  position: relative;
  border-radius: 8px;
}

#progress-bar-runtime {
  position: absolute;
  left: 0;
  height: 8px;
  border-radius: 8px;
  width: 0%;
  background-color: #f03800;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 2.5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #7a7a7a;
  border-radius: 2.5px;
}

.blinking-overtime {
  color: #fff;
  /* padding: 10px; */
  /* display: inline-block; */
  /* border-radius: 5px; */
  animation: blinkingBackground 1s infinite;
}

@keyframes blinkingBackground {

  50% {
    background-color: #ef0a1a;
  }

}

.blinking-zoom {
  color: #0a47ef;
  /* padding: 10px; */
  /* display: inline-block; */
  /* border-radius: 5px; */
  animation: blinkingZoom 1s infinite;
}

@keyframes blinkingZoom {


  50% {
    color: #fff;
    background-color: #4274ff;
  }

}